@model GPFamily.Models.Employee

@{
    ViewData["Title"] = "Xóa nhân viên";
}

<h1>Xóa nhân viên</h1>

<h3>Bạn chắc chắn muốn xóa nhân viên này?</h3>
<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FullName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FullName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EmpCode)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EmpCode)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Position)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Position)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.OfficeLocation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.OfficeLocation)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="EmployeeID" />
        <input type="submit" value="Xóa" class="btn btn-danger" /> |
        <a asp-action="Index">Xem Danh Sách</a>
    </form>
</div>
